
.navegacao {
    display: flex;
    background-color: aqua;
    
    box-sizing: border-box;
    
}


.botao-indice {
    background-color: aquamarine;
    width: 25%;
    margin: 1%;
    padding: 2%;

    border-radius: 10px;

    text-decoration: none;
    font-size: 30px;
    
}

h1 {
    display: flex;
    margin: 10% 0 1% 0;
    justify-content: center;
    text-align: center;

    font-size: 50px;
}

p {
    margin: 1% 20%;

}

img {

    width: 50%;
    margin: 0 25%;
    margin-bottom: 2%;
    border-radius: 12%;

}

.botao-indice {
    background-color: aquamarine;
    width: 25%;
    margin: 1%;
    padding: 2%;

    text-decoration: none;
    font-size: 30px;
    
}

.final_da_pg {
    margin-bottom: 15%;   
}

footer {

    display: flex;
    justify-content: space-evenly;
    background-color: rgb(32, 32, 32);

    padding: 2%;
}

.socialMidia {
    box-sizing: content-box;
    display: flex;
    margin: 10%;
    align-items: center;
    padding: 4px 20px;

    height: 50%;
    width: 90%;
    
}

.img_social_midia {
    height: 25px;
    border-radius: 5px;
    width: 25px;
    padding: 5px 0;

    margin: 5px;
}